<div id="chart" data-controller="metric" class="flex flex-wrap bg-white p-4 rounded-md mt-4">
  <canvas data-metric-target="chartPerDays" width="450" height="450"></canvas>
  <canvas data-metric-target="chartPerHours" width="450" height="450"></canvas>
  <canvas data-metric-target="chartPerMinutes" width="450" height="450"></canvas>
</div>